@import "styles/valiable.scss";
@import "styles/mixin.scss";

.container {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 10px;

  select.category {
    width: 40%;
  }

  .subContainer {
    width: 60%;
    display: flex;
    gap: 0.5rem;
    .inputContainer {
      width: calc(100% / 3);
      position: relative;

      input {
        width: 100%;
      }
    }

    span {
      color: $color-gray;
      position: absolute;
      top: 50%;
      right: 0.5rem;
      transform: translateY(-50%);
    }
  }

  .removeButton {
    color: white;
    font-size: 2rem;
    padding: 0;
    > svg {
      display: block;
    }
  }
}

/* number type 기본 속성 제거 */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
input[type="number"] {
  -moz-appearance: textfield;
}
select,
input {
  outline-width: 1px;
  border: none;
  outline-color: $color-main;
  border-radius: 10px;
  padding: 10px 8px;
  box-sizing: border-box;
  font-size: 1rem;
}
