@import "styles/valiable.scss";
.container {
  background-color: $color-white;
  border-radius: 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  &.expand {
    width: 35%;
    height: 100%;
  }
  &.fold {
    width: 0%;
    height: 0%;
  }
}
