@import "styles/valiable.scss";
@import "styles/mixin.scss";

.container {
  position: absolute;
  background-color: $color-main;
  right: 10px;
  top: 50px;
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 20px;
  gap: 10px;
  border-radius: 20px;
  z-index: 1;

  .selectContainer {
    position: relative;
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      padding: 10px 25px 10px 15px !important;
    }

    .arrowIcon {
      position: absolute;
      right: 3px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  button {
    border-radius: 10px;
    color: white;
    font-size: 2rem;
    padding: 3px;

    &:hover {
      color: $color-main;
      background-color: white;
    }
    > * {
      display: block;
    }
  }
}

@include mobile {
  .container {
    top: 35px;
  }
}
