$color-main: #6e66ff;

$color-white: #ffffff;
$color-black: #000000;
$color-light-black: #2f2f2f;
$color-gray: #7d7d7d;
$color-light-gray: #c3c3c3;

// 모바일
$breakpoint-mobile: 335px;

// 태블릿
$breakpoint-tablet: 720px;

// 노트북
$breakpoint-laptop: 1024px;
