$color-main: #66adff;
$color-white: #ffffff;
$color-black: #66adff;
$color-gray: #7d7d7d;
$color-light-gray: #c3c3c3;

$color-red: #f1424c;
$color-green: #1cc659;
$color-orange: #ff9003;
$color-blue: #3d61e1;
