@import "styles/valiable.scss";
@import "styles/mixin.scss";

.container {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;

  .titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 8px;
    color: $color-white !important;

    .title {
      @include font-h1;
    }

    .resourceHeader {
      width: 60%;
      display: flex;

      > li {
        text-align: center;
        width: calc(100% / 3);
      }
    }
  }
}
